
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500&display=swap');
$font: 'Zen Maru Gothic', sans-serif;
$violet: #7F00FF;

//Mobile
body{
    background-color: #F9F9F9;
    margin: 0%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr, 1fr;
    grid-area: 
    "main"
    "techstack";
    main{
        grid-area: main;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 2fr, 1fr, 4fr; 
        grid-template-areas:
        "about"
        "icons"
        "projects";

        article{
            grid-area: about;
            padding: 10%;

            h2{
                color: $violet;
                font-family: $font;
                font-weight: 500;
            }
            
            .about-me{
                line-height: 1.5rem;
                font-family: $font;
                font-weight: 400;
            }
        }

        .icons{
            grid-area: icons;
            ul{
                list-style: none;
                padding: 0;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;

                svg{
                    height: 50px;
                }
                svg:hover{
                    fill: $violet;
                }
                .linked-icon{
                    height: 55px;
                }
            }
        }
        .projects{
            grid-area: projects;
            margin: 2%;
            margin-top: 5%;
            ul{
                padding: 0%;
                display: flex;
                flex-direction: column;
                list-style: none;

                li{
                    padding: 1%;
                    img{
                        width: 100%;
                    }
                }

                li:hover{
                    opacity: 0.5;
                }

            }
        }

    }
}

//Tablet
@media only screen 
  and (min-width: 768px) 
  and (max-width: 1200px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    body{
        main{
            article{
                h2{
                    font-size: 2rem;
                }

                .about-me{
                    font-size: 1.3rem;
                    line-height: 1.7rem;
                }
            }
            .projects{
                ul{
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    align-items: center;
                }

                li{
                    width: 45%;
                }
            }
        }
    }
}

//Laptop
//Non-retina screens
@media only screen 
  and (min-width: 1200px) 
  and (max-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

    html,body{
        height: 100%;
        width: 100%;
        display: block;
        main{
            display: grid;
            height: 100%;
            grid-template-columns: 1fr 1.5fr;
            grid-template-rows: 100%;
            grid-template-areas: 
            "about projects";

            article{
                grid-area: about;
                position: relative;
                top: 10%;
            }

            .icons{
                grid-area: about;
                
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                position: relative;
                top: 10%;

                ul{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;

                }

            }

            .projects{
                grid-area: projects;
                place-self: center;

                ul{
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    align-items: center;
                }

                li{
                    width: 45%;
                }
            }

        }
    }
}

//Retina screens
@media only screen 
  and (min-width: 1200px) 
  and (max-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 

    html,body{
        height: 100%;
        width: 100%;
        display: block;
        main{
            display: grid;
            height: 100%;
            grid-template-columns: 1fr 1.5fr;
            grid-template-rows: 100%;
            grid-template-areas: 
            "about projects";

            article{
                grid-area: about;
                position: relative;
                top: 10%;
            }

            .icons{
                grid-area: about;
                
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                position: relative;
                top: 10%;
                ul{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;

                }

            }

            .projects{
                grid-area: projects;

                ul{
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    align-items: center;
                }

                li{
                    width: 45%;
                }
            }

        }
    }
}

//Larger screens
//Non-retina screens
@media only screen 
  and (min-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    html,body{
        height: 100%;
        width: 100%;
        display: block;
        main{
            display: grid;
            height: 100%;
            grid-template-columns: 1fr 1.5fr;
            grid-template-rows: 100%;
            grid-template-areas: 
            "about projects";

            article{
                grid-area: about;

                h2{
                    font-size: 3rem;
                }

                .about-me{
                    font-size: 1.5rem;
                    line-height: 2.5rem;
                }

            }

            .icons{
                grid-area: about;
                
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                ul{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    position: relative;
                    bottom: 10%;
                }

            }

            .projects{
                grid-area: projects;

                ul{
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    align-items: center;
                }

                li{
                    width: 45%;
                }
            }

        }
    }

  }



//Retina screens
@media only screen 
  and (min-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    html,body{
        height: 100%;
        width: 100%;
        display: block;
        main{
            display: grid;
            height: 100%;
            grid-template-columns: 1fr 1.5fr;
            grid-template-rows: 100%;
            grid-template-areas: 
            "about projects";

            article{
                grid-area: about;

                h2{
                    font-size: 3rem;
                }

                .about-me{
                    font-size: 1.5rem;
                    line-height: 2.5rem;
                }

            }

            .icons{
                grid-area: about;
                
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                ul{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    position: relative;
                    bottom: 10%;
                }

            }

            .projects{
                grid-area: projects;

                ul{
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    align-items: center;
                }

                li{
                    width: 45%;
                }
            }

        }
    }

  }