@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');
$body-font: 'Montserrat', sans-serif;
$eggplant: #3A263D;
$light-purple:#433145;
$lighest-white:#E5E2E6;
$light-white:#B1A9B3;
$white: #978C9A;
$fuschia: #E0115F; 

//Mobile
body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr, 3fr;
    grid-template-areas: 
    "head" 
    "main";

    background-color: $eggplant;

    header{
        grid-area: head;
        align-self: center;
        
        nav{

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: $eggplant;
            position: fixed;
            width: 100%;
            z-index: 10;
            ul{
                width: 60%;
                height: 40px;
                margin: 0;
                list-style: none;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;

                li{
                    font-family: $body-font;
                    font-size: 90%;
                }

                a{
                    text-decoration: none;
                    color: $fuschia;
                }
                a:hover{
                    color: $white;
                }

            }
            .logo{
                padding-left: 5%;
            }
        }
    }
    main{
        grid-area: main;
        display: grid;
        grid-template-rows: 35% 3fr 1fr;
        row-gap: 2%;
        grid-template-areas: 
        "about"
        "projects"
        "stack";

        article{
            grid-area: about;
            height: 75%;
            padding: 10%;
            h1{
                font-family: $body-font;
                font-weight: 500;
                font-size: 4rem;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                color: $lighest-white;

                .name{
                    align-self: flex-end;
                    color: $fuschia;
                }
            }
            h2{
                font-family: $body-font;
                color: $light-white;
                font-weight: 700;
            }
            
            .blurb{
                line-height: 1.7rem;
                font-family: $body-font;
                color: $white;
            }

            ul{
                list-style: none;
                padding-top: 10%;
                padding-left: 0;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;

                li{
                    width: 10%;
                    svg{
                        width: 100%;
                        fill: $fuschia;
                    }

                }
            }
        }

        #projects{
            grid-area: projects;
            background-color: $light-purple;
            margin: 0 4% 4% 4%;
            h2{
                font-family: $body-font;
                text-align: center;
                color: $light-white;
            }
            ul{
                list-style: none;
                display: flex;
                flex-direction: column;
                padding: 0;
                width: 100%;

                li{
                    padding-top: 5%;

                    img{
                        width: 100%;
                    }
                }
                .description{
                    display: none;
                }
            }
        }
        .techstack{
            grid-area: stack;
            background-color: $light-purple;
            margin: 0 4% 4% 4%;
            h2{
                font-family: $body-font;
                text-align: center;
                color: $light-white;
            }
            ul{
                list-style: none;
                padding: 0;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-around;
                align-items: center;

                li{
                    padding: 1%;
                    img{
                        width: 90px;
                    }
                    .small-logo{
                        width: 110px;
                    }
                }

            }
        }
        aside{ 
            align-self: flex-end;
            background-color: $light-purple;
            margin: 0 4% 0 4%;
            .icons{
                h2{
                    font-family: $body-font;
                    text-align: center;
                    color: $light-white;
                }
                ul{
                    list-style: none;
                    padding: 0;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-items: center;
    
                    svg{
                        width: 30px;
                        fill: $fuschia;
                    }

                    svg:hover{
                        fill: $lighest-white;
                    }
                    .linked-icon{
                        width: 35px;
                    }
                }
            }
    
        }
    }

}

//Landscape for phones

@media only screen 
and (min-width: 500px)
and (-webkit-min-device-pixel-ratio: 1){
    body{
        main{
            #about{
                h1{
                    display: block;
                    .name{
                        margin: 0;
                    }
                }
            }
        }
    }

}

@media only screen 
  and (min-width: 640px) 
  and (max-width: 767px) 
  and (-webkit-min-device-pixel-ratio: 1){
    body{
        main{
            grid-template-rows: 20% 3fr 1fr;

            .techstack{
                ul{
                    li{
                        padding: 2% 7% 2% 7%;
                    }
                }
            }
            aside{
                .icons{
                    ul{                
                        li{                        
                            svg{
                                width: 45px;
                            }
                            .linked-icon{
                                width: 45px;
                            }

                        }
                    }
                }

            }
        }
    }
  }


//Small tablets
@media only screen 
  and (min-width: 768px) 
  and (max-width: 1023px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    body{
        header{
            nav{
                ul{
                    li{
                        font-size: 1.3rem;
                    }
                }
            }
        }
        main{

            grid-template-rows: 40% 3fr 1fr;

            article{
                h1{
                    font-size: 5rem;
                    .name{
                        margin: 0;
                    }
                }
                h2{
                    font-size: 2rem;
                }
                .blurb{
                    font-size: 1.5rem;
                    line-height: 2.2rem;
                }

                ul{
                    li{
                        a{
                            svg{
                                width: 75%;
                            }
                        }
                    }
                    .linked-icon{
                        width: 50px;
                    }
                }
            }
            #projects{
                h2{
                    font-size: 2rem;
                    margin-bottom: 10%;
                }
                ul{
                    padding: 0;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    align-items: center;

                    li{
                        width: 45%;
                        padding: 1%;
                    }
                }
            }
            .techstack{
                h2{
                    font-size: 2rem;
                }
            }
            aside{
                .icons{
                    h2{
                        font-size: 2rem;
                    }
                    ul{
                        justify-content: center;
                
                        li{
                            padding: 5%;
                        
                            svg{
                                width: 35px;
                            }
                            .linked-icon{
                                width: 40px;
                            }

                        }
                    }
                }
            }
        }
    }
}

//Large tablet
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {

    body{
        header{
            nav{
                ul{
                    li{
                        font-size: 1.3rem;
                    }
                }
            }
        }
        main{
            grid-template-rows: 20% 3fr 1fr;
            article{
                h1{
                    font-size: 6rem;
                }
                h2{
                    font-size: 3rem;
                }
                .blurb{
                    font-size: 2rem;
                    line-height: 3.5rem;
                }
                ul{
                    li{
                        svg{
                            width: 70%;
                        }
                    }
                }
            }
            #projects{
                h2{
                    font-size: 2.5rem;
                }
            }
            .techstack{
                h2{
                    font-size: 2.5rem;
                }

                ul{
                    li{
                       padding: 2% 8% 2% 8%;
                        img{
                            width: 120px;
                        }
                        .small-logo{
                            width: 150px;
                        }
                    }
                }
            }
            aside{
                h2{
                    font-size: 2.5rem;
                }

                .icons{

                    ul{
                        li{
                            a{
                                svg{
                                    width: 50px;
                                }
                                .linked-icon{
                                    width: 55px;
                                }
                            }

                        }
                    
                    }
                }
                

            }
        }
    }

}


//Laptop
//Non-retina screens
@media only screen 
  and (min-width: 1367px) 
  and (max-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

    body{

        display: grid;
        grid-template-columns: 1fr, 3fr;
        grid-template-rows: 1fr, 3fr;
        grid-template-areas: 
        "head head" 
        "main main";

        header{
            grid-area: head;
            nav{
                .logo{
                    padding-left: 2%;
                }
                ul{
                    justify-content: space-around;

                    li{
                        font-size: 1rem;
                    }
                }
            }
        }

        main{
            grid-area: main;
            display: grid;
            grid-template-columns: repeat(2,2fr) 50px;
            grid-template-rows: 100vh 1fr 15%;
            row-gap: 0;
            grid-template-areas: 
            "about about side-nav"
            "projects projects projects"
            "stack stack stack";

            article{
                grid-area: about;
                padding: 5% 20% 0 10%;
                align-self: center;
                h1{
                    align-items: flex-start;
    
                    .name{
                        align-self: center;
                        margin-right: 40%;
                    }
                }

                h2{
                    font-size: 2.5rem;
                }
                .blurb{
                    font-size: 1.5rem;
                    line-height: 2.2rem;
                }
                ul{
                    display: none;
                }
            }

            #projects{
                grid-area: projects;


                h2{
                    font-size: 3rem;
                    padding-top: 1%;
                    padding-bottom: 5%;
                }

                ul{
                    padding: 0;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    align-items: center;

                    li{
                        width: 45%;
                        padding: 1%;
                        color: $light-white;
                        font-family: $body-font;
                        line-height: 1.5rem;
                    }
                    .image:hover{
                        opacity: 0.5;
                    }

                    div{
                        a{
                            color: $fuschia;
                            border: 1px solid $fuschia;
                            text-decoration: none;
                            padding: 1%;
                        }
                        a:hover{
                            color: $lighest-white;
                            border: 1px solid $lighest-white;
                        }
                    }
                    .description{
                        display: block;
                    }
                }

            }
            .techstack{
                grid-area: stack;
                margin: 0 4% 0 4%;

                h2{
                    font-size: 3rem;
                }

                ul{
                    list-style: none;
                    padding: 0;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-evenly;
                    align-items: center;

                }
            }
            aside{
                grid-area: side-nav;
                height: 100%;
                background-color: $eggplant;
                .icons{

                    height: 50%;

                    #contact{
                        display: none;
                    }
                    
                    ul{
                        position: fixed;
                        margin: 0;
                        height: 100%;
                        display: flex;
                        flex-direction: column;

                        li{
                            a{
                                svg{
                                    fill: $fuschia;
                                }

                            }
                        }
                    }

                }
            }
        }

    }

}

//Retina screens
@media only screen 
  and (min-width: 1367px) 
  and (max-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    body{

        display: grid;
        grid-template-columns: 1fr, 3fr;
        grid-template-rows: 1fr, 3fr;
        grid-template-areas: 
        "head head" 
        "main main";

        header{
            grid-area: head;
            nav{
                .logo{
                    padding-left: 2%;
                }
                ul{
                    justify-content: space-around;

                    li{
                        font-size: 1rem;
                    }
                }
            }
        }

        main{
            grid-area: main;
            display: grid;
            grid-template-columns: repeat(2,2fr) 50px;
            grid-template-rows: 100vh 1fr 15%;
            row-gap: 0;
            grid-template-areas: 
            "about about side-nav"
            "projects projects projects"
            "stack stack stack";

            article{
                grid-area: about;
                padding: 5% 20% 0 10%;
                align-self: center;
                h1{
                    align-items: flex-start;
    
                    .name{
                        align-self: center;
                        margin-right: 40%;
                    }
                }

                h2{
                    font-size: 2.5rem;
                }
                .blurb{
                    font-size: 1.5rem;
                    line-height: 2.2rem;
                }
                ul{
                    display: none;
                }
            }

            #projects{
                grid-area: projects;


                h2{
                    font-size: 3rem;
                    padding-top: 1%;
                    padding-bottom: 5%;
                }

                ul{
                    padding: 0;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    align-items: center;

                    li{
                        width: 45%;
                        padding: 1%;
                        color: $light-white;
                        font-family: $body-font;
                        line-height: 1.5rem;
                    }
                    .image:hover{
                        opacity: 0.5;
                    }
                    div{
                        a{
                            color: $fuschia;
                            border: 1px solid $fuschia;
                            text-decoration: none;
                            padding: 1%;
                        }
                        a:hover{
                            color: $lighest-white;
                            border: 1px solid $lighest-white;
                        }
                    }
                    .description{
                        display: block;
                    }
                }

            }
            .techstack{
                grid-area: stack;
                margin: 0 4% 0 4%;

                h2{
                    font-size: 3rem;
                }

                ul{
                    list-style: none;
                    padding: 0;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-evenly;
                    align-items: center;

                }
            }
            aside{
                grid-area: side-nav;
                height: 100%;
                background-color: $eggplant;
                .icons{

                    height: 50%;

                    #contact{
                        display: none;
                    }
                    
                    ul{
                        position: fixed;
                        margin: 0;
                        height: 100%;
                        display: flex;
                        flex-direction: column;

                        li{
                            a{
                                svg{
                                    fill: $fuschia;
                                }

                            }
                        }
                    }

                }
            }
        }

    }
}

//Larger screens
//Non-retina screens
@media only screen 
  and (min-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    body{
        display: grid;
        grid-template-columns: 1fr, 3fr;
        grid-template-rows: 1fr, 3fr;
        grid-template-areas: 
        "head head" 
        "main main";

        header{
            grid-area: head;
            nav{
                .logo{
                    padding: 1% 0 0 2%;
                }
                ul{
                    justify-content: space-around;

                    li{
                        font-size: 1.3rem;
                        align-items: flex-end;
                    }
                }
            }
        }

        main{
            grid-area: main;
            display: grid;
            grid-template-columns: repeat(2,2fr) 75px;
            grid-template-rows: 100vh 1fr 15%;
            row-gap: 0;
            grid-template-areas: 
            "about about side-nav"
            "projects projects projects"
            "stack stack stack";

            article{
                grid-area: about;
                padding: 5% 35% 0 10%;
                align-self: center;
                h1{
                    align-items: flex-start;
                    font-size: 5rem;
                }

                h2{
                    font-size: 3rem;
                }
                .blurb{
                    font-size: 2rem;
                    line-height: 3rem;
                }
                ul{
                    display: none;
                }
            }

            #projects{
                grid-area: projects;


                h2{
                    font-size: 3rem;
                    padding-top: 1%;
                    padding-bottom: 5%;
                }

                ul{
                    padding: 0;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    align-items: center;

                    li{
                        width: 45%;
                        padding: 1%;
                        color: $light-white;
                        font-family: $body-font;
                        line-height: 1.5rem;
                    }
                    li:hover{
                        opacity: 0.5;
                    }
                    div{
                        a{
                            color: $fuschia;
                            border: 1px solid $fuschia;
                            text-decoration: none;
                            padding: 1%;
                        }
                        a:hover{
                            color: $lighest-white;
                            border: 1px solid $lighest-white;
                        }
                    }
                    .description{
                        display: block;
                    }
                }

            }
            .techstack{
                grid-area: stack;

                h2{
                    font-size: 3rem;
                }

                ul{
                    list-style: none;
                    padding: 0;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-evenly;
                    align-items: center;

                }
            }
            aside{
                grid-area: side-nav;
                height: 100%;
                background-color: $eggplant;
                .icons{
                    ul{
                        position: fixed;
                        margin: 0;
                        height: 65%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;

                        li{
                            a{
                                svg{
                                    width: 40px;
                                    fill: $fuschia;
                                }
                                .linked-icon{
                                    width: 50px;
                                }

                            }
                        }
                    }

                }
            }
        }

    }
  }

//Retina screens
@media only screen 
  and (min-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
        body{
        display: grid;
        grid-template-columns: 1fr, 3fr;
        grid-template-rows: 1fr, 3fr;
        grid-template-areas: 
        "head head" 
        "main main";

        header{
            grid-area: head;
            nav{
                .logo{
                    padding: 1% 0 0 2%;
                }
                ul{
                    justify-content: space-around;

                    li{
                        font-size: 1.3rem;
                        align-items: flex-end;
                    }
                }
            }
        }

        main{
            grid-area: main;
            display: grid;
            grid-template-columns: repeat(2,2fr) 75px;
            grid-template-rows: 100vh 1fr 15%;
            row-gap: 0;
            grid-template-areas: 
            "about about side-nav"
            "projects projects projects"
            "stack stack stack";

            article{
                grid-area: about;
                padding: 5% 35% 0 10%;
                align-self: center;
                h1{
                    align-items: flex-start;
                    font-size: 5rem;
                }

                h2{
                    font-size: 3rem;
                }
                .blurb{
                    font-size: 2rem;
                    line-height: 3rem;
                }
                ul{
                    display: none;
                }
            }

            #projects{
                grid-area: projects;


                h2{
                    font-size: 3rem;
                    padding-top: 1%;
                    padding-bottom: 5%;
                }

                ul{
                    padding: 0;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    align-items: center;

                    li{
                        width: 45%;
                        padding: 1%;
                        color: $light-white;
                        font-family: $body-font;
                        line-height: 1.5rem;
                    }
                    li:hover{
                        opacity: 0.5;
                    }
                    div{
                        a{
                            color: $fuschia;
                            border: 1px solid $fuschia;
                            text-decoration: none;
                            padding: 1%;
                        }
                        a:hover{
                            color: $lighest-white;
                            border: 1px solid $lighest-white;
                        }
                    }
                    .description{
                        display: block;
                    }
                }

            }
            .techstack{
                grid-area: stack;

                h2{
                    font-size: 3rem;
                }

                ul{
                    list-style: none;
                    padding: 0;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-evenly;
                    align-items: center;

                }
            }
            aside{
                grid-area: side-nav;
                height: 100%;
                background-color: $eggplant;
                .icons{
                    ul{
                        position: fixed;
                        margin: 0;
                        height: 65%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;

                        li{
                            a{
                                svg{
                                    width: 40px;
                                    fill: $fuschia;
                                }
                                .linked-icon{
                                    width: 50px;
                                }

                            }
                        }
                    }

                }
            }
        }

    }
  }