
$violet: #7F00FF;

//Mobile
.grid-container{
    display: grid;
    grid-template-rows: 1fr, 3fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "navbar"
    "main";

    header{
        grid-area: navbar;
        nav{
            .navbar{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                list-style: none;
                padding-left: 0%;
            }
        }
    }
    main{
        grid-area: main;
        display: grid;
        grid-template-rows: 2fr 2fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "about"
        "projects"
        "techstack";

        article{
            grid-area: about;
            padding: 5%;

            h2{
                color: $violet;
            }
            
            .about-me{
                line-height: 1.5rem;
            }

            .curr-learn{
                padding-top: 5%;
            }
        }

        aside{
            grid-area: techstack;
            align-self: center;
            
            .techstack{
                display: flex;
                flex-flow: row wrap;
                justify-content: space-evenly;
                list-style: none;
                padding: 0%;

                img{
                    height: 55px;
                }
            }
        }

        .splide{
            grid-area: projects;
            ul{
                padding: 0%;

                img{
                    width: 100%;
                }
            }

            .splide__arrows{
                display: none;
            }
        }

    }

}

//Tablet
//iPad Pro 10.5
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

//Laptop
//Non-retina screens
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

    .grid-container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr, 2fr;
        grid-template-areas: 
        " . navbar"
        "main main";

        header{
            grid-area: "navbar";
        }
        main{
            grid-area: main;

            display: grid;
            grid-template-columns: 1fr, 1fr;
            grid-template-rows: repeat(2,1fr);
            grid-template-areas: 
            "about projects"
            "techstack . ";

            article{
                grid-area: about;

                width: 500px;
                padding: 25%;
            }

            aside{
                grid-area: techstack;

            }

            .splide{
                grid-area: projects;
                width: 75%;
                height: 100%;

                .splide__arrows{
                    display: inline;
                }
            }
        }
    }

}

//Retina screens
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}


//Desktop + large screen 