@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500&display=swap");
body {
  margin: 0%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 3fr, 1fr;
      grid-template-rows: 3fr, 1fr;
  grid-area: "main" "techstack";
}

body main {
  grid-area: main;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 2fr, 1fr, 4fr;
      grid-template-rows: 2fr, 1fr, 4fr;
      grid-template-areas: "about" "icons" "projects";
}

body main article {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: about;
  padding: 10%;
}

body main article h2 {
  color: #7F00FF;
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 500;
}

body main article .about-me {
  line-height: 1.5rem;
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 400;
}

body main .icons {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: icons;
}

body main .icons ul {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .icons ul svg {
  height: 50px;
}

body main .icons ul .LI-icon {
  height: 55px;
}

body main .projects {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: projects;
  margin: 2%;
  margin-top: 5%;
}

body main .projects ul {
  padding: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
}

body main .projects ul li {
  padding: 2%;
}

body main .projects ul li img {
  width: 100%;
}

body main .projects ul li:hover {
  opacity: 0.5;
}

@media only screen and (min-width: 768px) and (max-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {
  body main .projects ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body main .projects li {
    width: 45%;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  html, body {
    height: 100%;
    width: 100%;
    display: block;
  }
  html main, body main {
    display: -ms-grid;
    display: grid;
    height: 100%;
    -ms-grid-columns: 1fr 1.5fr;
        grid-template-columns: 1fr 1.5fr;
    -ms-grid-rows: 100%;
        grid-template-rows: 100%;
        grid-template-areas: "about projects";
  }
  html main article, body main article {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: about;
  }
  html main .icons, body main .icons {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: about;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  html main .icons ul, body main .icons ul {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  html main .icons ul svg:hover, body main .icons ul svg:hover {
    fill: #7F00FF;
  }
  html main .projects, body main .projects {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: projects;
    place-self: center;
  }
  html main .projects ul, body main .projects ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  html main .projects li, body main .projects li {
    width: 45%;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 1200px) and (max-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  html, body {
    height: 100%;
    width: 100%;
    display: block;
  }
  html main, body main {
    display: -ms-grid;
    display: grid;
    height: 100%;
    -ms-grid-columns: 1fr 1.5fr;
        grid-template-columns: 1fr 1.5fr;
    -ms-grid-rows: 100%;
        grid-template-rows: 100%;
        grid-template-areas: "about projects";
  }
  html main article, body main article {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: about;
  }
  html main .icons, body main .icons {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: about;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  html main .icons ul, body main .icons ul {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  html main .projects, body main .projects {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: projects;
  }
  html main .projects ul, body main .projects ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  html main .projects li, body main .projects li {
    width: 45%;
  }
}
/*# sourceMappingURL=styles.css.map */