@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500&display=swap");
body {
  margin: 0%;
  background-color: #F4F4F4;
}

body main {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr, 2fr, 3fr;
      grid-template-rows: 1fr, 2fr, 3fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: "about" "techstack" "projects";
}

body main article {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: about;
  padding: 10%;
  background-color: #EFEEEE;
}

body main article h2 {
  color: #7F00FF;
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 500;
}

body main article .about-me {
  line-height: 1.5rem;
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 400;
}

body main aside {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: techstack;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-top: 10%;
}

body main aside div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body main aside div .curr-learn {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 500;
  padding-left: 5%;
}

body main aside div .react-logo {
  -webkit-animation: bounce 5s ease 2s forwards;
          animation: bounce 5s ease 2s forwards;
}

body main aside .techstack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  list-style: none;
  padding: 5% 0% 0% 5%;
}

body main aside .techstack .sass-logo {
  justify-self: flex-end;
}

body main aside .techstack .python-logo {
  -webkit-animation: nudged 2s ease 4950ms forwards;
          animation: nudged 2s ease 4950ms forwards;
}

body main aside .techstack li {
  padding: 3%;
}

body main aside .techstack li img {
  height: 70px;
}

body main .projects {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: projects;
  margin: 2%;
}

body main .projects ul {
  padding: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .projects ul li {
  padding: 2%;
}

body main .projects ul li img {
  width: 100%;
  border-radius: 25px;
  -webkit-box-shadow: 5px 5px 5px #7F00FF;
          box-shadow: 5px 5px 5px #7F00FF;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translate(0px, -20px);
            transform: translate(0px, -20px);
  }
  10% {
    -webkit-transform: translate(0px, 20px);
            transform: translate(0px, 20px);
  }
  20% {
    -webkit-transform: translate(0px, -20px);
            transform: translate(0px, -20px);
  }
  30% {
    -webkit-transform: translate(0px, 20px);
            transform: translate(0px, 20px);
  }
  40% {
    -webkit-transform: translate(0px, -20px);
            transform: translate(0px, -20px);
  }
  100% {
    -webkit-transform: translate(0px, 120px);
            transform: translate(0px, 120px);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translate(0px, -20px);
            transform: translate(0px, -20px);
  }
  10% {
    -webkit-transform: translate(0px, 20px);
            transform: translate(0px, 20px);
  }
  20% {
    -webkit-transform: translate(0px, -20px);
            transform: translate(0px, -20px);
  }
  30% {
    -webkit-transform: translate(0px, 20px);
            transform: translate(0px, 20px);
  }
  40% {
    -webkit-transform: translate(0px, -20px);
            transform: translate(0px, -20px);
  }
  100% {
    -webkit-transform: translate(0px, 120px);
            transform: translate(0px, 120px);
  }
}

@-webkit-keyframes nudged {
  50% {
    -webkit-transform: translate(0px, 100px);
            transform: translate(0px, 100px);
  }
  100% {
    -webkit-transform: translate(-130px, 100px);
            transform: translate(-130px, 100px);
  }
}

@keyframes nudged {
  50% {
    -webkit-transform: translate(0px, 100px);
            transform: translate(0px, 100px);
  }
  100% {
    -webkit-transform: translate(-130px, 100px);
            transform: translate(-130px, 100px);
  }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .grid-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 1fr, 2fr;
        grid-template-rows: 1fr, 2fr;
        grid-template-areas: ". navbar" "main main";
  }
  .grid-container header {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: navbar;
  }
  .grid-container main {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: main;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3fr, 1fr;
        grid-template-columns: 3fr, 1fr;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "about projects" "techstack .";
  }
  .grid-container main article {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: about;
    width: 700px;
    padding: 5%;
  }
  .grid-container main aside {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: techstack;
  }
  .grid-container main .splide {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: projects;
  }
  .grid-container main .splide .splide__track .splide__list {
    display: inline;
  }
}
/*# sourceMappingURL=styles.css.map */